extends: default

rules:
    line-length:
        max: 120
        level: warning
    indentation:
        spaces: 2
        indent-sequences: consistent
    trailing-spaces: enabled
    new-line-at-end-of-file: enabled
    document-start: disabled
